body {
	font-family:Tahoma,Verdana;
	font-size:11px;
}
#header{
	font-size:12px;
}
#headerbold{
	font-size:14px;
	font-weight:bold;
}
.detail table {
	border:1px solid black;
}
.detail table th{
	font-weight:bold;
	border:1px solid black;
	height:22px;
}
.detail table td{
	border:1px solid black;
	vertical-align:top;
	padding:2px;
}
